@font-face {
	font-family: 'TrebuchetMS'; 
	src: url(/fonts/TrebuchetMS.ttf); 
}

* {
    font-family: 'TrebuchetMS', sans-serif;
}

body {
    height: 10000px;
}

.limiter {
    padding-left: 40px;
    padding-right: 40px;
}

.wrapper {
    max-width: 1290px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
}

.red {
    color: rgb(255, 51, 52);
}

.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    background-image: url('images/background_map.png');
    background-size:cover;
    background-position: center;
    z-index: -1;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.header_logo {
    width: 180px;
}

.header_logo img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.header_contacts {
    display: flex;
    justify-content: right;
}

.header_contacts>* {
    display: flex;
    align-items: center;
    margin-left: 20px;    
}

.header_contacts>* span {
    padding-left: 10px;
    max-width: 220px;
}

.header_contacts-callback {
    color: #303030;
    background-color: #ffe351;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: TrebuchetMS;
    font-weight: 400;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
    border: 0;
    height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    font-family: 'TrebuchetMS', sans-serif;
}

.header_contacts-callback:hover {
    background-color: #ff3334 !important;
    color: #ffffff !important;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%) !important;
    cursor: pointer;
}

.header_burger {
    display: none;
    position: absolute;
    width: 28px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    right: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999;    
}

.header_burger span {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 3px;
    background-color: #000;
}

.header_burger span:nth-child(1) {
    top: 0;
}

.header_burger span:nth-child(2), .header_burger span:nth-child(3) {
    top: 8px;
}

.header_burger span:nth-child(4) {
    top: 16px;
}

.header_burger.opened span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header_burger.opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header_burger.opened span:nth-child(4), .header_burger.opened span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.mobile_contacts {
    width: 100vw;
    height: auto;
    position: fixed;
    top: 69px;
    left: 0;
    background: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    overflow: hidden;
    max-height: 0px;
    transition: all .5s ease-in-out;
}

.mobile_contacts.opened {
    max-height: 185px;    
    padding: 40px 0;
}

/* /header */

/* screen */
.screen {
    height: calc(100vh - 70px);
    min-height: 600px;
    background-color: rgba(255, 255, 255, .7);    
}

.screen>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    align-items: center;
    height: 100%;
}

.screen h1 {
    margin: 0;
    font-size: 55px;
}

.screen p {
    font-size: 30px;
    max-width: 390px;
}

.screen_left {
    max-width: 480px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen .form_callback {
    display: grid;
    width: 350px;
    grid-gap: 5px;
}

.screen .form_callback input, 
.screen .form_callback button {
    width: 320px;
    height: 50px;
    padding-left: 12px;
    box-sizing: border-box;
    outline: none;
}

.screen .form_callback button {
    color: #303030;
    background-color: #ffe351;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
    padding: 0 15px;
    display: block;
    border: 0;
}

.screen .form_callback p {
    color: #a1a1a1;
    font-size: 10px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 300;
}

.screen .form_callback p a {
    color: inherit;
}

.screen_right {
    position: relative;
}

.screen_right .company {
    width: 500px;
    height: 500px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}

.screen_right .company>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen_right .iphone {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(50%, -50%);
}

.screen_right .iphone img.marker {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(60px, -35px);
}

.screen_right .rating {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    width: fit-content;
}

.screen_right .rating img {
    display: inline-block;
    width: 40px;
    height: 40px;
}

/* /screen */

/* advantages */
.advantages {
    background-color: #f7f7f7;
    padding: 125px 0;
}
/* /advantages */

@media (max-width: 1360px) {
    .screen>div {
        grid-template-columns: 1fr max-content;        
    }

    .screen_right {
        margin-right: 120px;
    }
}

@media (max-width: 1200px) {
    .screen>div {
        grid-template-columns: 1fr;
        min-height: 880px;
        grid-gap: 0;
    }
    .screen h1 {
        max-width: 500px;
    }
    .screen_left {
        max-width: 100%;
        height: auto;
        justify-self: center;
        align-items: center;
        text-align: center;
    }
    .screen_right {
        justify-self: center;
    }
    .screen_right .company {
        width: 380px;
        height: 380px;
    }
    .screen_right .company>img, 
    .screen_right .company .rating {
        display: none;
    }
    .screen_right .iphone {
        width: 150px
    }
    .screen_right .iphone img:first-child {
        display: block;
        object-fit: contain;
        width: 100%;
    }

    .screen .form_callback {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        width: 300px;
    }

    .screen .form_callback input, 
    .screen .form_callback button {
        width: 100%;
    }
}

@media (max-width: 960px) {

    .limiter {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header_contacts {
        display: none;
    }

    .header_burger {
        display: block;
    }
}

@media (max-width: 680px) {
    .screen_right {
        margin-right: 0;
    }
    .screen_right .company {
        transform: rotate(90deg);
        width: 280px;
        height: 280px;
    }
    .screen_right .iphone {
        top: 50%;
        left: 0;
        transform: translate(0%, -50%) rotate(-90deg);
        width: 100px;
    }
    .screen .form_callback {
        left: 50%;
        transform: translate(-50%, -30%);
        width: 200px;
    }
}


