* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 10000px;
}

.limiter {
    padding-left: 40px;
    padding-right: 40px;
}

.background {
    height: calc(100vh - 70px);
    width: 100vw;
    position: fixed;
    top: 70px;
    background-image: url('images/background_map.png');
    background-size:cover;
    background-position: center;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0;
}

.header_logo {
    width: 180px;
}

.header_logo img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.header_contacts {
    display: flex;
    justify-content: right;
}

.header_contacts>* {
    display: flex;
    align-items: center;
    margin-left: 20px;    
}

.header_contacts>* span {
    padding-left: 10px;
    max-width: 220px;
}

.header_contacts-callback {
    color: #303030;
    background-color: #ffe351;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: TrebuchetMS;
    font-weight: 400;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
    border: 0;
    height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    font-family: 'Roboto';
}

.header_contacts-callback:hover {
    background-color: #ff3334 !important;
    color: #ffffff !important;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%) !important;
    cursor: pointer;
}

.header_burger {
    display: none;
    position: absolute;
    width: 28px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    right: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999;    
}

.header_burger span {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 3px;
    background-color: #000;
}

.header_burger span:nth-child(1) {
    top: 0;
}

.header_burger span:nth-child(2), .header_burger span:nth-child(3) {
    top: 8px;
}

.header_burger span:nth-child(4) {
    top: 16px;
}

.header_burger.opened span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header_burger.opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header_burger.opened span:nth-child(4), .header_burger.opened span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.mobile_contacts {
    width: 100vw;
    height: auto;
    position: fixed;
    top: 70px;
    left: 0;
    background: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    overflow: hidden;
    max-height: 0px;
    transition: all .5s ease-in-out;
}

.mobile_contacts.opened {
    max-height: 185px;    
    padding: 40px 0;
}

.screen {
    height: calc(100vh - 70px);
    background-color: rgba(255, 255, 255, .7);
}


@media (max-width: 960px) {

    .limiter {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header_contacts {
        display: none;
    }

    .header_burger {
        display: block;
    }
}


